//各种字体
$font-hei: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
$font-kai:Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
$font-song: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;

//高亮颜色
$color-highlight:#f00;


//placeholder功能 ，任何引用X的都有了下面写的属性  引用 @extend %X;
// 原理是我把选择器复制过来，而不是把下面东西复制过去 就相当于把%X替换成buttons
%clearFix{
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}

%outerShadow{
  box-shadow: 0 0 3px rgba(0,0,0,0.25); //外阴影
}
%innerShadow{
  box-shadow: inset 0 -3px 3px -3px fade-out(black,0.5),//下阴影
  inset 0 3px 3px -3px fade-out(black,0.5);//上阴影
}
//inset内阴影，x方向0 y方向往上5px 宽度5px 控制往内还是往外进入如果-5就没了,没了我再控制轴即可 背景色 半透明
